@model eCourier.Models.Order
@inject eCourier.Enums.OrderStatus _orderStatus

@{
    ViewData["Title"] = "Edit";
     var status = _orderStatus.GetStatus();
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AppUserId" />
            <input type="hidden" asp-for="RecipientId" />           
            <input type="hidden" asp-for="ConsignmentNumber" />           
            
            <div class="form-group">
                <label asp-for="PlaceDate" class="control-label"></label>
                <input asp-for="PlaceDate" class="form-control" />
                <span asp-validation-for="PlaceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReachDate" class="control-label"></label>
                <input asp-for="ReachDate" class="form-control" />
                <span asp-validation-for="ReachDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @Html.DropDownListFor(model => model.Status, status, "Select an option", new { @class = "form-control" })
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="PaidAmount" class="control-label"></label>
                <input asp-for="PaidAmount" class="form-control" />
                <span asp-validation-for="PaidAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
